@charset 'utf-8';

/* Some of the first  */
img#bgimg {
	z-index: -1;
	float: left;
	size: contain contain;
}

body {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
div#top {
	background-color: rgba(141, 141, 142);
	height: 30%;
	display: block;
	width: 100%;
}

div#bottom {
	background-color: black;
	height: 70%;
	width: 100%;
}
div[class^="special"] {
	background-color: rgb(122, 188, 214);
	color: white;
	font-size: 2em;
	height: 150px;
	padding-bottom: 1px;
	width: fit-content;
	margin-top: 10%;
	padding: 0.75%;
	line-height: 1.2em;
}

/* div.special1 {
	text-align: right;
	float: left;
	margin-left: 550px;
}
div.special2 {
	text-align: left;
	float: right;
	margin-right: 550px;
} */
